---
---
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Hind+Vadodara:700);

/* Colors */
$white: #ffffff;
$black: #000000;
$red: #ff0000;

$blue-dark: #2E507C;
$blue-light: #6896B5;

$base: #3C3F41;
$base-panel: $white;
$base-panel-highlight: $blue-dark;

$link-glyph: $black;
$link-normal: $blue-dark;
$link-hover: $blue-light;

/* Responsive sizes */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: $base;
    color: $black;
    font-size: 16px;
    height: 100%;
    width: 100%
}

a, a:active {
    color: $link-normal;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

/* Index */
.index {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0px;

    @media (min-width: $screen-sm-min) {
        width: 700px;
        max-width: 700px;
    }
}

.row {
    height: 100%;
    max-height: 100%;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
}

.header {
    margin-top: 10px;
    margin-left: 0%;
    margin-bottom: 0px;
    font-size: 32px;
    width: 100%;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        font-size: 52px;
        margin-left: -10%;
        width: 120%;
    }
}

.profile-image {
    width: 100%;
    margin-top: -80px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.profile-header {
    color: $base-panel-highlight;
    padding-top: 15px;
    margin-top: 0px;
    font-size: 30px;

    @media (min-width: $screen-sm-min) {
        font-size: 60px;
        margin-top: 0px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 66px;
        margin-top: 0px;
    }
}

.profile-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.panel {
    background-color: $base-panel;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer {
    color: $white;
    font-size: 70%;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 20px;

    @media (min-width: $screen-sm-min) {
        font-size: 90%;
    }
}
